<div class="flex items-center justify-center h-screen bg-cover-full" style="background-image: url('/assets/images/background-6.jpg');">
  <div class="bg-white bg-opacity-80 p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-center text-3xl font-extrabold text-gray-900 mb-6">
      {{ isLogin ? 'Login to your account' : 'Register a new account' }}
    </h2>
    <form class="space-y-6" (ngSubmit)="onSubmit()">
      <div *ngIf="isLogin; else registerForm" class="rounded-md shadow-sm -space-y-px">
        <!-- Login Form -->
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" name="email" type="email" autocomplete="email" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email address">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Password">
        </div>
      </div>
      <ng-template #registerForm>
        <!-- Register Form -->
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="first-name" class="sr-only">First name</label>
            <input id="first-name" name="firstName" type="text" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="First name">
          </div>
          <div>
            <label for="last-name" class="sr-only">Last name</label>
            <input id="last-name" name="lastName" type="text" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Last name">
          </div>
          <div>
            <label for="register-email" class="sr-only">Email address</label>
            <input id="register-email" name="email" type="email" autocomplete="email" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email address">
          </div>
          <div>
            <label for="register-password" class="sr-only">Password</label>
            <input id="register-password" name="password" type="password" autocomplete="new-password" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Password">
          </div>
          <div>
            <label for="confirm-password" class="sr-only">Confirm Password</label>
            <input id="confirm-password" name="confirmPassword" type="password" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Confirm Password">
          </div>
        </div>
      </ng-template>
      <div>
        <button type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          {{ isLogin ? 'Sign in' : 'Register' }}
        </button>
      </div>
    </form>
    <p class="mt-2 text-center text-sm text-gray-600">
      <a class="font-medium text-indigo-600 hover:text-indigo-500 pointer-cursor" (click)="toggleForm()">
        {{ isLogin ? 'Register a new account' : 'Already have an account? Sign in' }}
      </a>
    </p>
  </div>
</div>
