<div class="dialog-container flex flex-col w-full h-[800px]">
  <div class="dialog-header bg-indigo-600 flex items-center justify-between text-white h-10">
    <span class="pl-4">Profile</span>
    <div class="h-full w-10 flex items-center justify-center cursor-pointer" (click)="closeDialog()" style="background-color: #f44336;;">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="content-container flex-1 overflow-y-auto p-4">
    <!-- Content here -->
    <mat-tab-group>
      <mat-tab label="General">
        <app-general></app-general>
      </mat-tab>
      <mat-tab label="Contact">
        <app-contact></app-contact>
      </mat-tab>
      <mat-tab label="Bio">
         <app-bio></app-bio>
      </mat-tab>
    </mat-tab-group>

  </div>
  <div class="dialog-footer flex justify-end items-center h-[70px] p-4 space-x-2 border-t border-gray-300">
    <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Save</button>
  </div>
</div>
