<div class="p-4 mb-1 bg-white rounded shadow-lg flex justify-end items-center h-[70px] space-x-2 border-t border-gray-300">
  <!-- <button mat-raised-button color="warn" (click)="onAction()">Close</button> -->
  <button mat-raised-button color="primary" (click)="onAction()">View</button>
</div>

<!-- Table Container -->
<div class="p-4 bg-white rounded shadow-lg overflow-y-auto">
  <ngx-datatable 
    class="bootstrap"
    [rows]="mappedRows"
    [scrollbarV]="true"
    [headerHeight]="50"
    [rowHeight]="50"
    style="height:400px"
    [selectionType]="SelectionType.checkbox"
    [selected]="selected"
    (select)="onSelect($event)">
    
    <!-- Checkbox Column -->
    <ngx-datatable-column
      name="Select"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [width]="50">
      <ng-template ngx-datatable-header-template>
        <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="allSelected()" />
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <input type="checkbox" (change)="toggleSelect(row, $event)" [checked]="isSelected(row)" />
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 1: Title -->
    <ngx-datatable-column name="Title" prop="title" [width]="300">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.title }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 2: Description -->
    <ngx-datatable-column name="Description" prop="description" [width]="500">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.description | slice:0:100 }}...
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 3: Email -->
    <ngx-datatable-column name="Email" prop="email">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.email }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 4: Zip Code -->
    <ngx-datatable-column name="Zip Code" prop="zipcode">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.zipcode }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 5: State -->
    <ngx-datatable-column name="State" prop="state">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.state }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 6: Bedrooms -->
    <ngx-datatable-column name="Bedrooms" prop="bedrooms">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.bedrooms }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 7: Bathrooms -->
    <ngx-datatable-column name="Bathrooms" prop="bathrooms">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.bathrooms }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 8: SQFT Area -->
    <ngx-datatable-column name="SQFT Area" prop="sqft">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.sqft }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 9: Price -->
    <ngx-datatable-column name="Price" prop="price">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.price }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Column 10: Rental Type -->
    <ngx-datatable-column name="Rental Type" prop="rentalType">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.rentalType }}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
